*{
    box-sizing: border-box; /* */
}
div{
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap; /* imprenscindível, precisa ser definido se não não vai quebrar a linha */
    gap:1rem;
    justify-content: center;
}
section{
    border: 1px solid black;
    padding: 1rem;
    flex-basis: 22%; /* tamanho base de cada elemento */
}
@media (max-width: 1440px) {
    /* mediascreen é a técninca condicional para responsividade utilizando css */
    body{
        background-color: aquamarine;
    }
    section{
        flex-basis: 48%; /* permitirá que fique 2 section's por linha" */
    }
}
@media (max-width: 744px) {
    /*  */
    body{
        background-color: rgb(175, 255, 230);
    }
    section{
        flex-basis: 98%; /* permitirá que cada section fique em uma linha */
    }
}