:root {
    --primary-color: #141847;   
    --secondary-color: #1563D1;
    --accent-color: #D4E9FD;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;
    width: 100%;
}